html, body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7b007e;
    padding: 0 200px 1em;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #ff7b007e;
    padding: 1em 200px;
    
}

img {
    border-radius: 10px;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 200px;
}

.card {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin: 30px 0 30px;
}


blockquote {
    margin: 2rem 0;
    padding: 1em 260px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    background-color: #e3e3e36b;
}

blockquote .author {
    margin-top: 0.5rem;
    font-style: normal;
    font-size: 0.9rem;
    opacity: 0.7;
    text-align: end;
}

.second-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #ff7b007e;
    margin: 1em 200px 1em;
    border-radius: 6px;
    margin-bottom: 60px;
    padding: 1.5em;
}

.cta-end {
    font-size: 0.9rem;
    opacity: 0.7;
}

button {
    background-color: orange;
    border-color: green;
    border-radius: 5px;
}

footer {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
